@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

:root {
    --color-primary: #ffe66b;
    --color-secondary: #2d2917;
    --color-background: #000000;
    --color-text: #ffffff;
    --color-theme-raisin-black: oklch(25.53% 0.0209 340.25);
    --font-heading: 'Trattatello', sans-serif;
}

* {
    --color-primary: #ffe66b;
    --color-secondary: #2d2917;
    --color-background: #000000;
    --color-text: #ffffff;
    --color-theme-raisin-black: oklch(25.53% 0.0209 340.25);
    --font-heading: 'Trattatello', sans-serif;
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Trattatello';
    src: url('/fonts/Trattatello.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: 'Outfit', sans-serif;
}

/* Custom utility classes */
@layer components {
    .text-primary {
        color: var(--color-primary);
    }
    
    .font-heading {
        font-family: var(--font-heading);
    }
}