@import "tailwindcss";

@theme {
    --color-primary: #ffe66b;
    --color-secondary: #2d2917;
    --color-background: #000000;
    --color-text: #ffffff;

    --font-heading: 'Trattatello', sans-serif;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Trattatello';
    src: url('/fonts/Trattatello.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: 'Outfit', sans-serif;
}