---
import Facebook from'@/assets/svg/facebook.svg';
import Instagram from'@/assets/svg/instagram.svg';
import Youtube from'.@/assets/svg/youtube.svg';
import Whatsapp from'@/assets/svg/whatsapp.svg';
---


<footer class="bg-primary text-black py-4">
  <div class="container mx-auto text-center text-heading">
    <p>&copy; {new Date().getFullYear()} Dlion Photography Society. All rights reserved.</p>
  </div>
  <div class="social-links">
    <div class="container mx-auto text-center mt-2 flex justify-center gap-4">
      <a href="https://facebook.com/dlionphotography" class="hover:scale-125 transition-transform">
        <Facebook /> 
      </a>
      <a href="https://instagram.com/dlionphotography" class="hover:scale-125 transition-transform">
        <Instagram /> 
      </a>
      <a href="https://twitter.com/dlionphotography" class="hover:scale-110 transition-transform">
        <Youtube /> 
      </a>
      <a href="https://twitter.com/dlionphotography" class="hover:scale-110 transition-transform">
        <Whatsapp /> 
      </a>
    </div>
  </div>

</footer>