---
import Facebook from'@/assets/svg/facebook.svg';
import Instagram from'@/assets/svg/instagram.svg';
import Youtube from'@/assets/svg/youtube.svg';
import Whatsapp from'@/assets/svg/whatsapp.svg';
---




<div class="containerHamburgerButton fixed right-5 top-5 z-[100] hidden">
  <button
    id="menuButton"
    aria-expanded="false"
    aria-controls="menuMobileContent"
    class="hamburgerButton group relative flex h-[20px] w-6 cursor-pointer flex-col items-center justify-between transition duration-300 hover:scale-110 lg:hidden"
    aria-label="Abrir menú de navegación"
  >
    <span
      class="ease h-[2px] w-6 transform bg-primary transition duration-300 group-[.open]:translate-y-2 group-[.open]:rotate-45"
    ></span>
    <span
      class="ease h-[2px] w-6 transform bg-primary transition duration-300 group-[.open]:opacity-0"
    ></span>
    <span
      class="ease h-[2px] w-6 transform bg-primary transition duration-300 group-[.open]:opacity-0"
    ></span>
    <span
      class="ease h-[2px] w-6 transform bg-primary transition duration-300 group-[.open]:-translate-y-[0.6rem] group-[.open]:-rotate-45"
    ></span>
  </button>
</div>

<header class="fixed top-0 w-full z-9" id="mainHeader">
    <div
      id="overlay-menu"
      class="bg-theme-raisin-black/50 fixed inset-0 hidden h-[100vh] md:hidden"
    >
    </div>
    <nav id="navContent" class="nav flex items-center justify-center px-8 py-2 text-3xl w-full text-primary font-heading transition-all duration-500 relative">
        <!-- Links Izquierdos -->
        <div class="left-links flex items-center transition-all duration-300 md:order-1">
            <a class="text-primary font-heading hover:underline md:text-3xl text-2xl" href="/">Portfolio</a>
            <a class="text-primary font-heading ml-4 md:ml-8 hover:underline md:text-3xl text-2xl" href="/projects">Projects</a>
        </div>

        <!-- Logo Container -->
        <div class="logo-container transition-all duration-300 mx-4 md:mx-8 md:h-28 md:order-2">
            <figure class="inline-block transition-all duration-300">
                <img src={`${import.meta.env.BASE_URL}images/logo.webp`} alt="Dlion Photography Society Logo" class="md:w-28 md:h-28 w-20 h-20 object-contain default-logo"/>    
                <img src={`${import.meta.env.BASE_URL}images/logo-scroll.png`} alt="Dlion Photography Society Logo Scroll" class="-ml-6 md:w-28 md:h-12 w-36 h-10 object-contain scroll-logo hidden"/>    
            </figure>
        </div>

        <!-- Links Derechos -->
        <div class="right-links flex items-center transition-all duration-300 md:order-3">
            <a class="text-primary font-heading hover:underline md:text-3xl text-2xl" href="/about">About</a>
            <a class="text-primary font-heading ml-4 md:ml-8 hover:underline md:text-3xl text-2xl" href="/contact">Contact</a>
        </div>

        <div class="social-links mt-5">
            <div class="container mx-auto text-center mt-2 flex justify-center gap-4">
              <a href="https://facebook.com/dlionphotography" class="hover:scale-125 transition-transform">
                <Facebook /> 
              </a>
              <a href="https://instagram.com/dlionphotography" class="hover:scale-125 transition-transform">
                <Instagram /> 
              </a>
              <a href="https://twitter.com/dlionphotography" class="hover:scale-110 transition-transform">
                <Youtube /> 
              </a>
              <a href="https://twitter.com/dlionphotography" class="hover:scale-110 transition-transform">
                <Whatsapp /> 
              </a>
            </div>
        </div>
    </nav>
</header>

<style>
    header {
        background: transparent;
        animation: header-blur-scroll 0.3s linear both;
        animation-timeline: scroll();
        animation-range: 0 250px;
        border-bottom: 1px solid transparent;
    }

    nav {
        max-width: 1400px;
        margin: 0 auto;
    }

    .social-links {
        display: none;
    }
    .logo-container figure {
        transform-origin: left center;
    }

    .logo-container.absolute {
        top: 50%;
        transform: translateY(-50%);
    }

    .left-links, .right-links {
        transition: all 0.3s ease;
    }

    .left-links {
        transform: none;
    }

    .right-links {
        transform: none;
    }

    .left-links.transform-none,
    .right-links.transform-none {
        transform: none;
    }

    /* Cuando se hace scroll, los links quedan juntos sin espacios */
    .left-links.md\:order-2.ml-0 + .logo-container + .right-links.ml-0 {
        margin-left: 0;
    }

    @keyframes header-blur-scroll {
        0% {
            backdrop-filter: blur(0px);
            background: transparent;
        }

        100% {
            backdrop-filter: blur(10px);
            background: rgba(0, 0, 0, 0.5);
            padding-bottom: var(--spacing-6);
            border-bottom-color: var(--color-primary);
        }
    }

    #navContent {
    transition:
      translate 0.3s ease-in-out,
      visibility 0.3s 0.3s;
    }

    #navContent.showing {
        visibility: visible;
        translate: 0 0;
        transition:
        translate 0.3s ease-in-out,
        visibility 0.3s;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        max-width: 17rem;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 5rem;
        gap: 10px;
    }
    #navContent.showing .social-links {
        display: flex;
    }
    #navContent.showing .left-links, 
    #navContent.showing .right-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #navContent.showing .logo-container {
        display: none;
    }
    #navContent.showing .left-links a,
    #navContent.showing .right-links a {
        margin: 0;
    }
</style>

<script is:inline>
    document.addEventListener('astro:page-load', () => {
        // Verificar que estamos en el navegador
        if (typeof window === 'undefined') return;
        
        const header = document.getElementById('mainHeader');
        const defaultLogo = header?.querySelector('.default-logo');
        const scrollLogo = header?.querySelector('.scroll-logo');
        const nav = header?.querySelector('nav');
        const logoContainer = header?.querySelector('.logo-container');
        const leftLinks = header?.querySelector('.left-links');
        const rightLinks = header?.querySelector('.right-links');
        const containerHamburgerButton = document.querySelector('.containerHamburgerButton')
        
        const updateHeader = () => {
            if (window.scrollY > 100) {
                // Cambiar logos
                defaultLogo?.classList.add('hidden');
                scrollLogo?.classList.remove('hidden');
                
                // Ajustar tamaños y espaciado
                nav?.classList.remove('justify-center');
                nav?.classList.add('justify-end', 'gap-[30px]');
                logoContainer?.classList.remove('md:h-28');
                logoContainer?.classList.add('md:h-12', 'h-10', 'absolute', 'left-0');
                logoContainer?.querySelector('figure')?.classList.add('md:w-30', 'md:h-12','h-full', 'w-full');
                logoContainer?.querySelector('figure')?.classList.remove('md:w-28', 'md:h-28','h-20', 'w-28');

                // Ajustar espaciado del contenedor del logo
                logoContainer?.classList.remove('mx-8');
                logoContainer?.classList.add('mx-0');
                
                // Reordenar elementos: logo a la izquierda, links a la derecha
                logoContainer?.classList.remove('md:order-2');
                logoContainer?.classList.add('md:order-1');
                leftLinks?.classList.remove('md:order-1');
                leftLinks?.classList.add('md:order-2');
                rightLinks?.classList.remove('md:order-3');
                rightLinks?.classList.add('md:order-3');
                
                // Hacer que los links queden juntos sin espaciado entre ellos
                leftLinks?.classList.remove('ml-0');
                rightLinks?.classList.remove('ml-4', 'ml-8', 'md:ml-4', 'md:ml-8');
                rightLinks?.classList.add('ml-0');
                
                // Animar los links
                leftLinks?.classList.add('transform-none');
                rightLinks?.classList.add('transform-none');

                if (window.matchMedia('(max-width: 768px)').matches) {
                    leftLinks?.classList.add('hidden');
                    rightLinks?.classList.add('hidden');
                    containerHamburgerButton?.classList.remove('hidden');
                } else {
                    // En escritorio, siempre mostrar los links
                    leftLinks?.classList.remove('hidden');
                    rightLinks?.classList.remove('hidden');
                    containerHamburgerButton?.classList.add('hidden');
                }

            } else {
                // Restaurar logos
                defaultLogo?.classList.remove('hidden');
                scrollLogo?.classList.add('hidden');
                
                // Restaurar tamaños y espaciado
                nav?.classList.remove('justify-end', 'gap-[30px]');
                nav?.classList.add('justify-center');
                logoContainer?.classList.remove('md:h-12', 'h-10', 'absolute', 'left-0');
                logoContainer?.classList.add('md:h-28');
                logoContainer?.querySelector('figure')?.classList.remove('md:w-30', 'md:h-12');
                logoContainer?.querySelector('figure')?.classList.add('w-20', 'md:w-28', 'h-20', 'md:h-28');
                
                // Restaurar espaciado del contenedor del logo
                logoContainer?.classList.remove('mx-0');
                logoContainer?.classList.add('mx-8');
                
                // Restaurar orden original
                logoContainer?.classList.remove('md:order-1');
                logoContainer?.classList.add('md:order-2');
                leftLinks?.classList.remove('md:order-2');
                leftLinks?.classList.add('md:order-1');
                rightLinks?.classList.remove('md:order-3');
                rightLinks?.classList.add('md:order-3');
                
                // Restaurar espaciado original entre los links
                rightLinks?.classList.remove('ml-0');
                
                // Restaurar posición de los links
                leftLinks?.classList.remove('transform-none');
                rightLinks?.classList.remove('transform-none');

                if (window.matchMedia('(max-width: 768px)').matches) {
                    leftLinks?.classList.remove('hidden');
                    rightLinks?.classList.remove('hidden');
                    containerHamburgerButton?.classList.add('hidden');  
                } else {
                    // En escritorio, siempre mostrar los links
                    leftLinks?.classList.remove('hidden');
                    rightLinks?.classList.remove('hidden');
                    containerHamburgerButton?.classList.add('hidden');
                }
            }
        };

        window.addEventListener('scroll', () => {
            requestAnimationFrame(updateHeader);
        });

        // Ejecutar cuando cambia el tamaño de ventana
        window.addEventListener('resize', () => {
            requestAnimationFrame(updateHeader);
        });

        // Ejecutar una vez al cargar para establecer el estado inicial
        updateHeader();
    });
</script>
<script is:inline type="module">
    document.addEventListener('astro:page-load', () => {
        // Verificar que estamos en el navegador
        if (typeof window === 'undefined') return;
        
        function toggleMenu(menuBtn, navContent, overlayMenu) {
            menuBtn?.classList.toggle('open')
            navContent?.classList.toggle('showing')
            overlayMenu?.classList.toggle('hidden')
        }

        const navContent = document.querySelector('#navContent')
        const menuButton = document.querySelector('#menuButton')
        const overlayMenu = document.querySelector('#overlay-menu')

        menuButton?.addEventListener('click', () => toggleMenu(menuButton, navContent, overlayMenu))
        overlayMenu?.addEventListener('click', () => toggleMenu(menuButton, navContent, overlayMenu))
    })
</script>